<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Data centers</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link"href="/">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/datacenters">Datacenters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ips">IPs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nets">NETs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/esxis">ESXIs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vms">VMs</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End navbar -->

<div class="container">
    <h1>Datacenters</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>